<div class="text-center">
    <form method="get" asp-controller="Movies" asp-action="FindMovieByInput">
        <div class="form-group">
            <br />
            <input class="form-control" type="text" name="input" placeholder="Search Movies">
            <div>
                <br />
                <input type="submit" value="Find Movie" class="btn " />
            </div>
        </div>
    </form>
</div>