@model MiniMovieWorld.Web.ViewModels.Movies.RateActorInputModel

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Rate">Rate Actor</label>
        <input class="form-control" min="1" max="10" asp-for="Rate" />
    </div>
    <div class="ol-md-6 offset-md-5">
        <input type="submit" class="btn btn-outline-dark" />
    </div>
</form>
