@model MiniMovieWorld.Web.ViewModels.Admin.Writer.WriterInputModel
@{ 
    this.ViewData["Title"] = "Add Writer";
}

<h1 style="font-size: 75px" class="text-center">@this.ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">Middle Name</label>
        <input class="form-control" asp-for="MiddleName" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName" />
    </div>
    <div class="form-group">
        <label asp-for="Age">Age</label>
        <input class="form-control" min="12" max="90" asp-for="Age" />
    </div>
    <div class="form-group">
        <label asp-for="Nationality">Nationality</label>
        <input class="form-control" asp-for="Nationality" />
    </div>
    <div class="form-group">
        <label asp-for="Image">Upload Writer Image</label>
        <input class="form-control" asp-for="Image" style="color:#ff5f13" />
    </div>
    <div class="ol-md-6 offset-md-5">
        <input type="submit" class="btn btn-outline-dark" />
    </div>
</form>
