@using MiniMovieWorld.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<div>
    <br />
    @await Component.InvokeAsync("RecentlyAddedMovies")
</div>
<div>
    <br />
    @await Component.InvokeAsync("MostRatedActors")
</div>
